<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>Snigdha OS</vendor>
  <vendor_url>http://www.snigdhaos.org/</vendor_url>

  <action id="org.snigdhaos.pkexec.sks">
    <_description>Add/Remobe Kernels From Snigdha OS</_description>
    <_message>Authentication is required to run/change own user data.</_message>
    <icon_name>package-x-generic</icon_name> <!-- just an example -->
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/snigdhaos-kernel-switcher/snigdhaos-kernel-switcher.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>